#--------------------------------------------------------------------
# Environment Configuration Template
#--------------------------------------------------------------------

# CI_ENVIRONMENT = production
CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = http://localhost:8080/
# If you are using XAMPP, it might be something like:
# app.baseURL = http://localhost/SSVT_App/public/

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = ssvt_app
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi

#--------------------------------------------------------------------
# ADMIN SETTINGS
#--------------------------------------------------------------------

ADMIN_USER = admin
ADMIN_PASS = admin1234
